<h1 class="about">To-Do Web App</h1>


<% if current_user %>
<u><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></u>
<% else %>
<u><%= link_to 'Register', new_user_registration_path%></u>
<u><%= link_to 'Sign in', new_user_session_path %></u>
<% end %>

<u><%= link_to 'To-do list', todos_path %></u>
