html,
body {
	margin: 0;
	padding: 0;
	font-family: monospace;
	
	font-size: 16px;	
}

ul {
	list-style: none;
}

a {
	font-family: monospace;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.li-tasks{
	font-size: 14px;
	text-align: left;
}

.func-li {
	border: 2px solid black;
	border-radius: 25px;
	padding: 5px;
	background: rgb(65, 214, 169);
	box-shadow: 5px 4px #888888;
	margin: 3px;
	opacity: 0.8;
}

.func-li > li {
	font-size: 20px;
}

.func-li:hover {
	opacity: 1;
}

.navbar {
	height: 90px;
	font-size: 48px;
	font-weight: bolder;
	text-align: center;
	background:  rgb(65, 214, 169);
	padding-top: 25px;
	border: 2px solid black;
}

.btn {
	border: 2px solid black;
	border-radius: 25px;
	background:  rgb(65, 214, 169);
	box-shadow: 5px 4px #888888;
	margin: 3px;
	opacity: 0.8;
	font-family: monospace;

}

.btn:hover {
	opacity: 1;
}

.h-flash {
	margin: 0 auto;
	max-width: 400px;
	margin-bottom: 20px;
	font-size: 16px;
}

.content {
	position: relative;
	height: auto;
	width: 460px;
	text-align: center;
	margin: auto;
	margin-top: 20px;
	padding: 30px;
}

.textfield {
	font-family: monospace;
	font-size: 16px;
	width: 190px;
	margin-top: 20px;
	border-bottom: 0.1rem solid black;
	background: none;
	border-top: none;
	border-right: none;
	border-left: none;
}

