html,
body {
margin: 0;
padding: 0;
font-family: monospace;
font-size: 16px;	
}

ul {
list-style: none;
}

a {
font-family: monospace;
font-weight: bold;
text-decoration: none;
color: #000000;
}

.li-tasks {
font-size: 14px;
text-align: left;
}


.btn-additem {
border: 2px solid black;
border-radius: 25px;
background: rgb(65, 214, 169);
box-shadow: 5px 4px #888888;
margin: 3px;
opacity: 0.8;
font-family: monospace;
font-size: 14px;
font-weight: bolder;
position: relative;
top: 10px;

}

.btn-additem:hover {
opacity: 1;

}

.li-navlink {
border: 2px solid black;
border-radius: 25px;
padding: 5px;
background: rgb(65, 214, 169);
box-shadow: 5px 4px #888888;
margin: 3px;
opacity: 0.8;
position: relative;
right: 20px;
}

.li-navlink > li {
font-size: 20px;
}

.li-navlink:hover {
opacity: 1;
}

.navbar {
height: 90px;
font-size: 48px;
font-weight: bolder;
text-align: center;
background: rgb(65, 214, 169);
padding-top: 25px;
border: 1px solid black;
}

.btn {
border: 2px solid black;
border-radius: 25px;
background: rgb(65, 214, 169);
box-shadow: 5px 4px #888888;
margin: 3px;
opacity: 0.8;
font-family: monospace;
font-size: 14px;
font-weight: bolder;
}

.btn:hover {
opacity: 1;
}


.content {
position: relative;
height: auto;
width: 30em;
text-align: center;
margin: auto;
padding: 1em;
}

.flash-wrapper {
position: relative;
height: auto;
margin-top: 1em;
}

.flash-notice {
text-align: center;
margin: 0 auto;
max-width: 400px;
margin-bottom: 20px;
font-size: 16px;
font-weight: bolder;
}

.textfield {
font-family: monospace;
font-size: 16px;
width: 240px;
margin-top: 20px;
border-bottom: 0.1rem solid black;
background: none;
border-top: none;
border-right: none;
border-left: none;

}

.textfield-additem {
font-family: monospace;
font-size: 16px;
width: 400px;
margin-top: 20px;
border-bottom: 0.1rem solid black;
background: none;
border-top: none;
border-right: none;
border-left: none;
text-align: center;

}

.display-current-user {
margin-top: 10px;
margin-left: 10px;
font-size: 14px;
padding: 0px;
}